html,
body {
    margin: 0 auto;
    font-size: 20px!important;
    padding: 0;
    background-color: black;
}

a:visited,
a:link {
    color: white !important;
    text-decoration: none;
}

a:active,
a:hover {
    color: white !important;
    text-decoration: underline;
}
.stdin {
    outline: none;
    background-color: transparent;
    border: none;
    color: white;

}

.terminal {
    /* position: absolute; */
    /*text-align: left;*/
    /* border: solid white 1px; */
    /*min-width: 800px;*/
    /*min-height: 300px;*/
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
}

.ls a:visited,
.ls a:link, .ls .vue-link {
    color: #5bb0f7 !important;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}

.ls a:active,
.ls a:hover {
    color: #5bb0f7 !important;
    text-decoration: underline;
}
p {
    line-height: 25px;
}
p, span {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;

    color: white;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
}
.notes .directory{
    color: #5bb0f7 !important;
}

.dir {
    color: #0085f1;
}

.user {
    /* color: green; */
    color: #00f100;
}

@media screen and (max-width: 400px) {
  #h-mobile {
    visibility: hidden;
    display: none;
  }
}

input{
    font-size: 19px!important;
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.link {
    color: #5bb0f7 !important;
    background-color: rgba(147, 147, 211, 0.3);
}
